body {
}

.chatwrapper, .currentChat {
	position: fixed;
	background: #fff;
	width: 250px;

	bottom: 0;
	right: 0;
	z-index: 100;
	border: 1px solid #000;
}

.chatwrapper h3, .currentChat h3{
		background: #333;
		color: white;
		padding: 0.5em 0 0 1em;
		margin-bottom: 0;
		cursor: pointer;
		height: 30px;
}

.chat {
  display: none;
  height: 270px;
  margin: 1em;
  border: 1px dotted #000;
  position: relative;
  overflow-y: scroll;
}

.chat .view ul {
  list-style-type: none;
}

.chat .view li {
  clear: both;
  display: block;
  float: left;
  list-style: none outside none;
  margin-bottom: 0.5em;
  padding-left: 2em;
  background: url("images/reddot.png") no-repeat  6px 4px;
  
}

.currentChat {
  right: 260px;
  width: 500px;
}

.submitwrapper  {
  padding: 1em 0 1em 1em;
}

.submittext {
  width: 410px;
  margin-right: 1em;
}

.close {
  position: absolute;
  right: 10px;
  top: 8px;
}

.close a:link, .close a:visited   {
  color: #fff;
}